body{
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choices {
  display: flex;
  justify-content: left;
  max-width: 30%;
  padding: 30px;
}

.input-mui {
  padding: 30px;
  justify-content: center;
}